@import url("https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body,
  #root,
  .app {
    font-family: "Tilt Neon", cursive;
    @apply bg-todo-white;
  }
}

@layer components {
  .todo-container {
    @apply 2xl:max-w-[1280px] xl:max-w-[1024px] lg:max-w-[768px] px-4 mx-auto
  }
}

input[type="checkbox"] {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* // transition styles  */
/* popup  */
.popup-enter {
  opacity: 0;
  transform: scale(0.9);
}
.popup-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}
.popup-exit {
  opacity: 1;
}
.popup-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}

/* custom pretty scrollbar */
.pretty-scrollbar::-webkit-scrollbar {
  width: 20px;
}

.pretty-scrollbar::-webkit-scrollbar-track {
  background-color: transparent;
}

.pretty-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

.pretty-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}